@media only screen and (max-width: 900px) {
    img.techplazmaLogo{
        width: 45%;
        margin-left:1%;
      }
  .sectiontitle {
    font-size: 2.3rem;
  }
  .divider {
    margin: 1% 0;
  }
  .sectionContent {
    font-size: 0.8rem;
    margin: 5% auto;
  }
  /* Hero start */
.heroSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin:10% auto;
    width:100%;
    padding:5%;
    background-color:transparent;
    border-radius: 0 0 0 200px;
    margin-left: 0 ;
  }
  .heroSection .heroContentData{
    width: 100%;
    margin:auto;
  }
  .heroSection .heroTitle{
      margin: 7% auto;
    width: 90%;
    text-align: center;
  }
  
  .heroSection .heroContent{
    margin:7% auto;
    text-align: center;
    width: 85%;
  }
  
  .heroSection img.HeroIllus{
    width: 85%;
    margin: auto 5%;
  }
  /* Hero end */
  
  /* about start */
  .aboutSection .aboutSection_data {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .aboutSection .aboutSection_data .aboutIllus {
    width: 90%;
  }

  .aboutSection .aboutSection_data .aboutcontent {
    margin: 5% auto;
    width: 100%;
  }
  /* about end */

  /* Services start */
  .card {
    width: 100%;
    height: 250px;
    margin: 2.5% 2.5%;
    background-size: cover;
  }
  .card .card-body .cardTitle {
    width: 100%;
    color: #fff;
    text-align: center;
    margin: 70% auto;
  }

  .cardTitle p {
    font-size: 1.5em;
  }

  .card-groups {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* width: 90%; */
    justify-content: center;
    align-items: center;
  }
  /* Services ends */
}
